<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <audio id="background-music" src="{{ url_for('static', filename='background.mp3') }}" autoplay loop></audio>
</head>
<body>
    <h1>Welcome to SG's Mini Game Hub</h1>
    <img src="{{ url_for('static', filename='images/mini_game_hub.png') }}" alt="Logo" class="index-image" style="width: 20%; height: auto;">
    <a href="{{ url_for('cardmemory') }}" class="game-link btn btn-primary">Card Memory Game</a>
    <br> <!-- Add a line break to move the Tic-Tac-Toe button under the Card Memory Game button -->
    <a href="{{ url_for('tictactoehome') }}" class="game-link btn btn-primary">Tic-Tac-Toe</a>
    <!-- Add more game links here -->
     <a href="{{ url_for('numberguesshome') }}" class="game-link btn btn-primary">Guess the Number</a>
     <h3>More games will come soon!!!</h3>
</body>
</html>