<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the Number</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/numberguess.css') }}">
    <audio id="background-music" src="{{ url_for('static', filename='background.mp3') }}" autoplay loop></audio>
</head>
<body class="numberguess {{ level }}">
    <div class="top-left-buttons">
        <a href="/" class="btn btn-secondary">Back to Game Hub</a>
        <a href="{{ url_for('numberguesshome') }}" class="btn btn-secondary">Back to Level Selection</a>
    </div>
    <h1>Guess the Number Game</h1>
    <form onsubmit="event.preventDefault(); checkGuess();">
        <label for="guess">Enter your guess:</label>
        <p id="range"></p>
        <input type="text" id="guess" required>
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        {% if level != 'hard' %}
        <button type="button" onclick="nextLevel()" class="btn btn-secondary">Next Level</button>
        {% endif %}
        <button type="button" onclick="restartGame()" class="btn btn-secondary">Play Again</button>
    </form>
    <p id="status"></p>
    <p id="message"></p>
    <script>
        const level = "{{ level }}";
    </script>
    <script src="{{ url_for('static', filename='js/numberguess.js') }}"></script>
</body>
</html>