<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tictactoe.css') }}">
    <audio id="background-music" src="{{ url_for('static', filename='background.mp3') }}" autoplay loop></audio>
</head>
<body>
    <a href="{{ url_for('index') }}" class="btn btn-secondary" style="position: absolute; top: 20px; left: 20px;">Back to Hub</a>
    <div class="container mt-5">
        <h1 class="mb-4">Tic-Tac-Toe</h1>
        <div class="btn-group mt-3">
            <button id="tic-tac-toe-restart" class="btn btn-primary">Play Another Game</button>
            {% if level == 'easy' %}
            <a href="{{ url_for('tictactoe', level='hard') }}" class="btn btn-danger switch-level ml-2">Switch to Hard</a>
            {% else %}
            <a href="{{ url_for('tictactoe', level='easy') }}" class="btn btn-success switch-level ml-2">Switch to Easy</a>
            {% endif %}
        </div>
        <div class="game-container mb-4">
            <div id="tic-tac-toe-board" class="tic-tac-toe-board mb-4">
                <div class="tic-tac-toe-cell"></div>
                <div class="tic-tac-toe-cell"></div>
                <div class="tic-tac-toe-cell"></div>
                <div class="tic-tac-toe-cell"></div>
                <div class="tic-tac-toe-cell"></div>
                <div class="tic-tac-toe-cell"></div>
                <div class="tic-tac-toe-cell"></div>
                <div class="tic-tac-toe-cell"></div>
                <div class="tic-tac-toe-cell"></div>
            </div>
            <div id="tic-tac-toe-status" class="tic-tac-toe-status mb-4"></div>
        </div>
        <input type="hidden" id="difficulty-level" value="{{ level }}">
    </div>
    <script src="{{ url_for('static', filename='js/tictactoe.js') }}"></script>
</body>
</html>